
/* CSS for the homepage of the Greenfield Local Hub website */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Joan', serif;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition:0.2s linear;
}
/*styling the body to center the content and give it a background color*/
html{
    font-size:62.5%;
    scroll-behavior:smooth;
    scroll-padding-top:6rem;
    overflow-x:hidden;

}

section{
    padding:2rem 9%;
}

.heading{
    text-align:center;
    font-size:4rem;
    color:#333;
    padding:2rem;
    margin:2rem 0;
    background:#82AF90
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #82AF90;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor:pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #4e6e58;
}

/*styling the header and navigation bar*/

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#D0E5D7;
    padding:2rem 9%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

header .logo img {
    width: 100px;
    height: 40px;
    object-fit: cover;
}

header .navbar a{
    font-size:2rem;
    padding:0 1.5rem;
    color:#333;
}

header .navbar a:hover{
    color:#4e6e58;
    text-decoration:underline;
}

header .icons a{
    font-size:2.5rem;
    color:#333;
    margin-left: 1.5rem;

}

header .icons a:hover{
    color:#4e6e58;
}

header #toggler{
    display:none;

}

header .fa-bars{
    font-size:3rem;
    color:#333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,0.3);
    display:none;
}

/*styling the sections and content*/
.home{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    background: url(../images/welcomeimg.jpg) no-repeat;
    background-size: 75%;
    background-position:center;

}

/*styling the content of the home section*/
.home .content{
    text-align: center;
    max-width:100rem;
}

.home .content h3{
    background:#a8ddbabf;
    font-size:6rem;
    color:#333;

}

/*styling the about section*/
.about .row{
    display:flex;
    align-items:center;
    gap:2rem;
    flex-wrap:wrap;
    padding:2rem 0;
    padding-bottom:3rem;
}

/*styling the content of the about section*/
.about .row .content{
    flex:1 1 40rem;
}
.about .row .content h3{
    font-size:3rem;
    color:#333;
}

.about .row .content p{
    font-size:1.5rem;
    color:#333;
    padding:.5rem 0;
    padding-top:1rem;
    line-height:1.5;
}

/*styling the marketplace section*/

.marketplace .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;

}

.marketplace .box-container .box{
    flex: 0 0 calc((100% - 3rem) / 3);
    background:#D0E5D7;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;
}

/*styling the image and content of the marketplace section*/
.marketplace .box-container .box .image{
    position:relative;
    text-align:center;
    padding-top:2rem;
    overflow:hidden;
}

.marketplace .box-container .box .image img{
    height:25rem;
}

.marketplace .box-container .box:hover .image img{
    transform:scale(1.1);
}

.marketplace .box-container .box .content{
    padding:2rem;
    text-align:center;
}

.marketplace .box-container .box .content h3{
    font-size:2.5rem;
    color:#333;
}

.marketplace .box-container .box .discount{
    position:absolute;
    top:1rem;
    left:1rem;
    padding:.7rem 1rem;
    font-size:2rem;
    color:#4e6e58;
    background:#c6c6c6;
    z-index:1;

}

.marketplace .box-container .box .content .price{
    font-size:2.5rem;
    color:#333;
    font-weight:bolder;
    padding-top:1rem;
}

.marketplace .box-container .box .content .price span{
    font-size:1.5rem;
    color:#5b5959;
    font-weight:lighter;
    text-decoration:line-through;
}

/*styling the news section*/
.news .content h3{
    padding:2rem;
    font-size:3rem;
    color:#333;
}

.news .content p{
    font-size:1.5rem;
    color:#333;
    padding:.5rem 0;
    padding-top:1rem;
    line-height:1.5;
}

.news .box-container{
    display:flex;
    flex-direction:column;
    gap:1.5rem;

}
.news .box-container .box{
    background:#dadada;
    flex:1 1 15rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;

}

.news .box-container .box .content{
    padding:2rem;
    text-align:center;
}

/*styling the events section*/
.events .content h3{
    padding:2rem;
    font-size:3rem;
    color:#333;
}

.events .content p{
    font-size:1.5rem;
    color:#333;
    padding:.5rem 0;
    padding-top:1rem;
    line-height:1.5;
}

.events .box-container{
    display:flex;
    flex-direction:column;
    gap:1.5rem;

}
.events .box-container .box{
    background:#dadada;
    flex:1 1 15rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;

}

.events .box-container .box .content{
    padding:2rem;
    text-align:center;
}


/*styling the contact section*/
.contact .row{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background:#fff;
    border-radius:.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width:50%;
}

.contact .row form .box{
    padding:1rem;
    font-size:1.5rem;
    color:#333;
    text-transform:none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius:.5rem;
    margin:.7rem 0;
    width:100%;
}

.contact .row form .box:focus{
    border-color:#D0E5D7;
}

.contact .row form textarea{
    height:15rem;
    resize:none;
}



/*footer styling*/
.footer{
    background:#D0E5D7;
    padding:2rem 9%;
}
.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

.footer .box-container .box{ 
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size:2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display:block;
    color:#333;
    font-size:1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:#4e6e58;
    text-decoration:underline;
}

.footer .credit{
    text-align:center;
    padding:1.5rem;
    margin-top:1.5rem;
    padding-top:2.5rem;
    font-size:2rem;
    color:#333;
    border-top:.1rem solid rgba(0,0,0,.1)
}





/*media queries*/
@media (max-width:991px) {

    html{
        font-size:55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;

    }

    .home{
        background-position: left;
    }
}
/*media query for tablets and mobile devices*/
@media (max-width:768px){
    header .fa-bars{
        display:block;
    }

    header .navbar{
        position:absolute;
        top:0;
        left:0;
        right:0;
        background:#D0E5D7;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#D0E5D7;
        border:.1rem solid rgba(0,0,0,.1);
        display:block;
    }

    .home .content h3{
        font-size:5rem;
    }
}
/*media query for mobile devices*/
@media (max-width:450px){
    html{
        font-size:50%;
    }

    .heading{
        font-size:3rem;
    }
}