@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swapy');

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: "Joan", serif;
}

/*styling the body to center the form and give it a background color*/
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#82AF90;
    color:#333;
} 

.container{
    margin:0 15px;

}
/*styling the form container and setting it to be hidden by default*/
.form-box{
    width:100%;
    max-width:450px;
    padding:30px;
    background:#D0E5D7;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    display:none;
}

/*separates the login and register forms*/
.form-box.active{
    display:block;
}

h2{
    font-size:34px;
    text-align:center;
    margin-bottom:20px;
}

/*styling the input fields and buttons*/
input,
select{
    width:100%;
    padding:12px;
    background:#F4F6F5;
    border-radius:6px;
    border:none;
    outline:none;
    font-size:16px;
    color:#333;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    background:#82AF90;
    border-radius:6px;
    border:none;
    cursor:pointer;
    font-size:16px;
    color:#fff;
    font-weight:500;
    margin-bottom:20px;
    transition:0.5s;
}

button:hover{
    background:#4e6e58;
}

p{
    font-size:14.5px;
    text-align:center;
    margin-bottom:10px;
}

p a{
    color:#82AF90;
    text-decoration:none;
}

p a:hover{
    text-decoration:underline;
    color:#4e6e58;
}
/*styling the error message to be more visible and user-friendly*/
.error-message {
    padding:12px;
    background:#a40000;
    border-radius:6px;
    font-size:16px;
    color:#fff;
    text-align:center;
    margin-bottom:20px;
}



